.container{
	background: #99743E;
    width: 800px;
    height: 800px;
    position: relative;
    left: 300px;
    border: 30px solid #735532;
    z-index: -2;
}
.item{
    z-index: -1;
	background-color: #DFC98D;
	width: 100px;
	height: 100px;
    position: absolute;
}
/*1line css*/
.one{left: 0; top:0;}
.two{left: 200px; top: 0;}
.three{right: 100px; top:0;}
.four{right: 300px;top: 0;}

.five{ left: 100px; top: 100px;}
.six{left: 300px; top:100px;}
.seven{right: 0; top:100px;}
.eight{right: 200px; top:100px;}

/*2line css */
.nine{left: 0; top:200px;}
.ten{left: 200px; top: 200px;}
.eleven{right: 100px; top:200px;}
.twelve{right: 300px;top:200px;}

.thirteen{ left: 100px; top: 300px;}
.fourteen{left: 300px; top:300px;}
.fifteen{right: 0; top:300px;}
.sixteen{right: 200px; top:300px;}

/*3line css */
.seventeen{left: 100px; bottom:0;}
.eighteen{left: 300px; bottom: 0;}
.nineteen{right: 0; bottom:0;}
.twenty{right: 200px;bottom:0;}

.twenty-one{left: 0; bottom:100px;}
.twenty-two{left: 200px; bottom: 100px;}
.twenty-three{right: 100px; bottom:100px;}
.twenty-four{right: 300px;bottom:100px}